tcp:
  routers:
    mtproxy:
      rule: "HostSNI(`*`)"
      entryPoints:
        - websecure
      service: mtproxy
      tls:
        passthrough: true
  services:
    mtproxy:
      loadBalancer:
        servers:
          - address: "telemt:1234"
